.opentip-container,
.opentip-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:			arial;
  font-size:				10.5px;
}
.opentip-container {
  position: absolute;
  max-width: 550px;
  z-index: 100;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-center,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-center,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-center {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-right {
  -webkit-transform: translateY(-5px) translateX(5px);
  -moz-transform: translateY(-5px) translateX(5px);
  -o-transform: translateY(-5px) translateX(5px);
  -ms-transform: translateY(-5px) translateX(5px);
  transform: translateY(-5px) translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-middle.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-middle.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-middle.stem-right {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-right {
  -webkit-transform: translateY(5px) translateX(5px);
  -moz-transform: translateY(5px) translateX(5px);
  -o-transform: translateY(5px) translateX(5px);
  -ms-transform: translateY(5px) translateX(5px);
  transform: translateY(5px) translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-center,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-center,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-center {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -o-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-left {
  -webkit-transform: translateY(5px) translateX(-5px);
  -moz-transform: translateY(5px) translateX(-5px);
  -o-transform: translateY(5px) translateX(-5px);
  -ms-transform: translateY(5px) translateX(-5px);
  transform: translateY(5px) translateX(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-middle.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-middle.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-middle.stem-left {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-left {
  -webkit-transform: translateY(-5px) translateX(-5px);
  -moz-transform: translateY(-5px) translateX(-5px);
  -o-transform: translateY(-5px) translateX(-5px);
  -ms-transform: translateY(-5px) translateX(-5px);
  transform: translateY(-5px) translateX(-5px);
}
.opentip-container.ot-fixed .opentip {
  pointer-events: auto;
}
.opentip-container.ot-hidden {
  display: none;
}
.opentip-container .opentip {
  position: relative;
  font-size: 13px;
  line-height: 120%;
  padding: 9px 14px;
  color: #4f4b47;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.2);
}
.opentip-container .opentip .header {
  margin: 0;
  padding: 0;
}
.opentip-container .opentip .ot-close {
  pointer-events: auto;
  display: block;
  position: absolute;
  top: -12px;
  left: 60px;
  color: rgba(0,0,0,0.5);
  background: rgba(0,0,0,0);
  text-decoration: none;
}
.opentip-container .opentip .ot-close span {
  display: none;
}
.opentip-container .opentip .ot-loading-indicator {
  display: none;
}
.opentip-container.ot-loading .ot-loading-indicator {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  display: block;
}
.opentip-container.ot-loading .ot-loading-indicator span {
  display: block;
  -webkit-animation: otloading 2s linear infinite;
  -moz-animation: otloading 2s linear infinite;
  -o-animation: otloading 2s linear infinite;
  -ms-animation: otloading 2s linear infinite;
  animation: otloading 2s linear infinite;
  text-align: center;
}
.opentip-container.style-dark .opentip,
.opentip-container.style-alert .opentip {
  color: #f8f8f8;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
.opentip-container.style-glass .opentip {
  padding: 15px 25px;
  color: #317cc5;
  text-shadow: 1px 1px 8px rgba(0,94,153,0.3);
}
.opentip-container.ot-hide-effect-fade {
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.opentip-container.ot-hide-effect-fade.ot-hiding {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.opentip-container.ot-show-effect-appear.ot-going-to-show,
.opentip-container.ot-show-effect-appear.ot-showing {
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}
.opentip-container.ot-show-effect-appear.ot-going-to-show {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.opentip-container.ot-show-effect-appear.ot-showing {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.opentip-container.ot-show-effect-appear.ot-visible {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@-moz-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bl-3 .blButton, .blButton
{
	display: 			inline-block;
	height: 			15px;
	font-size: 		12px;
	color: 			#666666;
	padding: 			3px 10px 3px 10px;
	border: 			1px solid #CCCCCC;
	border-radius: 	4px;
	cursor:			pointer;
	-webkit-appearance: none;
	text-align: 		center;
}

.bl-3 .blButton2, .blButton2
{
	height: 			28px;
	padding: 			3px 15px;
	border-radius: 	4px;
}

.bl-3 .blButton.bold, .blButton.bold 
{
	font-weight: bold;
}

.bl-3 .blButtonInput, .blButtonInput
{
	box-sizing: 		border-box;
	height:			28px;
}

.bl-3 .blButtonGreen, .blButtonGreen
{
	color: 			#EEEEEE;
	background-color: #019934;
	border-color: 	#019934;
}

.bl-3 .blButtonGray, .blButtonGray
{
	color: 			#222222;
	background-color: #eaeaea;
	border-color: 	#eaeaea;
}

.bl-3 .blButtonGreen.blButtonDisabled, .blButtonGreen.blButtonDisabled
{
	border-color:		#CCCCCC;
}

.bl-3 .blButtonBlue.blButtonDisabled, .blButtonBlue.blButtonDisabled
{
	border-color:		#CCCCCC;
}


.bl-3 .blButtonWhite, .blButtonWhite
{
	background-color: #FFFFFF;
}

.bl-3 .blButtonHover, .blButtonHover
{
	color:				#0788ca;
	border-color:		#0788ca;
}

.bl-3 .blButtonBlue, .blButtonBlue
{
	color:				#EEEEEE;
	background-color:	#1173BF;
	border-color:		#0060B9;
}

.bl-3 .blButtonHover.blButtonGreen,
.bl-3 .blButtonHover.blButtonBlue,
.blButtonHover.blButtonGreen,
.blButtonHover.blButtonBlue
{
	color:				white;
}

.bl-3 .blButtonHover.blButtonBlue,
.blButtonHover.blButtonBlue
{
	color:				white;
}

.bl-3 .blButtonHide,
.blButtonHide
{
	display:			none !important;
}

.bl-3 .blButtonDisabled,
.blButtonDisabled
{
	background-color:		#EEEEEE;
	color:					#CCCCCC;
	cursor:				auto;
}

.blWideTabContainer .blWideTabMenu
{
	min-width: 	50px;
	padding:		3px;
	text-align:	center;
	font-size:		11px;
	cursor:		pointer;
	color: #333;
	border-top-left-radius:	5px;
	border-top-right-radius:	5px;
}

.blWideTabContainer .blWideTabSeperator
{
	min-width: 		3px;
	border-bottom:	1px solid #aaaaaa;
}

.blWideTabActive
{
	border-left:		1px solid #aaaaaa;
	border-right:		1px solid #aaaaaa;
	border-top:		1px solid #aaaaaa;
	border-bottom:	1px solid white;
}

.blWideTabInactive
{
	background-color:	#eeeeee;
	border-bottom:	1px solid #aaaaaa;
}
.blLargeImgLayer
{
	position:	fixed;
	top:		0px;
	left:		0px;
	width:		100%;
	height:	100%;
	z-index:	100;
}

.blLargeImgBG
{
	position: absolute; 
	top: 		0px; 
	left: 		0px; 
	width: 	100%; 
	height: 	100%; 
	z-index: 	100; 
	background-color: black;
	opacity: 	0.7; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: 	alpha(opacity=70);
}

.blLILTable
{
	border-radius:		5px;
}

.blLILThumbArea
{
	vertical-align:		middle;
	background-color: #eeeeee;
    border: 5px solid #cccccc;
}

.blLILThumbContainer
{
	height:				420px;
	width:					90px;
	padding:				10px;
	background-color:	#eeeeee;
	overflow-x:			hidden;
	overflow-y:			auto;
}

.blLILThumbImg
{
	margin:				5px;
	padding:				5px;
	box-sizing:			border-box;
	border:				1px solid #cccccc;
	height:				72px;
	text-align:			center;
	background-color:	white;
}

.blLILThumbSelected
{
	border:				3px solid #999999;
	padding:			3px;
}

.blLILImgContainer
{
	background-color:	white;
	padding:			10px;
	margin-left:		10px;
	text-align:			left;
	font:				11px/15px Verdana, Helvetica, sans-serif;
	max-height: 		100%;
}

.blLILTitle
{
	display: 			block; 
	font-weight:		bold;
	margin-top:			10px;
	max-width:			640px;
}

.blLILImgWrapper
{
	display:			inline-block;
	padding:			0px;
	margin:				20px 0px 0px 0px;
	position:			relative;
	overflow:			hidden;
	cursor: 			default;
}

.blLILImgWrapper.blLILHasBigImage
{
	cursor:		url( '//static.bricklink.com/clone/img/zoomin.cur' ), move;
}

.blLILImgWrapper.blLILZoomedIn
{
	cursor:		url( '//static.bricklink.com/clone/img/zoomout.cur' ), crosshair;
}


.blLILImgArea
{
	position:			relative;
	text-align:		center;
	vertical-align:	middle;
	background-color: #fff;
    border: 5px solid #cccccc;
    border-left: 0px;
}

.blLILBuyBtn
{
	position:			absolute;
	bottom:				10px;
	right:				10px;
	padding:			5px;
	border: 			1px solid #CCCCCC;
	cursor:				pointer;
	-webkit-appearance: none;
	color: 				#EEEEEE;
	background-color: 	#0788ca;
	border-color: 		#0788ca;
	display: 			inline-block;
	font-size: 			12px;
}

.blLILClose
{
	position:			absolute;
	top:				5px;
	right:				5px;
	font-size: 			15px; 
	font-family: 		Tahoma, Arial; 
	font-weight: 		bold;
	text-decoration:	none;
	color:				blue;
}

.blLILThumbImageOverlay 
{
	position: 		absolute;
	background:		transparent;
	filter:			progid:DXImageTransform.Microsoft.gradient(startColorstr=#35000000,endColorstr=#35000000);
	zoom: 			1;
	background: 	rgba(0, 0, 0, 0.20);
	width:			100%;
	height:			100%;
	left: 			0px;
	top:			0px;
}

.blLILThumbImageOverlay .eye-glass
{
	position: 			absolute;
	right: 				5px;
	bottom: 			5px;
	height: 			22px;
	width: 				22px;
	background: 		url(//static.bricklink.com/clone/img/icon_zoomin.png);
	background-size: 	cover;
}


.tblMainOptions TH,
.tblMainOptions TD
{
	text-align:	left;
	font-size: 	12px;
}

.pspInputBox
{
	border-radius: 	3px;
	border:			1px	solid #aaaaaa;
	padding:			2px 5px 2px 5px;
	box-sizing:		content-box;
	height:			24px;
}

.pspSelCond
{
	border-radius: 	3px;
	border:			1px	solid #aaaaaa;
	width:				100px;
	height:			28px;
	box-sizing:		content-box;
}

.pspInputLong
{
	 width: 			140px;
}

.pspInputShort
{
	 width: 			65px;
}

.pspSelectCond
{
	border-radius: 	3px;
	border:			1px solid #aaaaaa;
	height:			25px;
	width:				80px;
}

.tblAdvancedOption
{
	background-color: 	#eeeeee;
	margin: 				0px 5px 0px 5px;
	border-top: 			1px solid #aaaaaa;
	width: 				858px;
	font-size:				12px;
}

.tblAdvancedOption TH
{
	text-align:			left;
}

.pspRightBorder
{
	border-right:		1px solid #aaaaaa;
}

.trAdvancedSubTitle TD
{
	font-size: 12px;
}

.pspTypeSelection
{
	box-sizing:		border-box;
	display:			inline-block;
	*display:			inline;
	border-radius:	3px;
	border:			1px solid #aaaaaa;
	font-size:			11px;
	font-weight: bold;
	padding:			6px 15px;
	text-align:		center;
	cursor:			pointer;
	background-color:	white;
	margin-bottom: 5px;
}

.pspTypeSelection:hover
{
	border:	1px solid #0788ca;
	color:			#0788ca;
}

.pspTypeSelection.pspSelected
{
	border:		1px solid #0788ca;
	color:			#0788ca;
	font-weight:	bold;
	box-shadow: inset 0px 0px 0px 1px #0788ca;
}

.pspRdoLocation
{
	padding:			0px;
	margin:			0px;
}

.pspTypeSelLabel
{
	vertical-align: middle;
	font-size: 12px;
}

.pspSelSellerOption
{
	border-radius: 	3px;
	border:			1px solid #aaaaaa;
	height:			25px;
	width:				110px;
}

.pspSelSellerOption:disabled
{
	background-color:	#cccccc;
	color:				black;
}

.arrow_box
{
	position: 			relative;
	background: 		#eeeeee;
	border-bottom: 	1px solid #aaaaaa;
}

.arrow_box:after,
.arrow_box:before
{
	top: 		100%;
	left: 		50%;
	border: 	solid transparent;
	content: 	" ";
	height: 	0;
	width: 	0;
	position: 	absolute;
	pointer-events: none;
}

.arrow_box:after
{
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eeeeee;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before
{
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaaaaa;
	border-width: 6px;
	margin-left: -6px;
}

.pspItemTabContents A
{
	text-decoration: 	none;
	color:				#00389a;
}

.pspItemTabContents A:visited
{
	color:				purple;
}

.pspItemTabContents A:hover
{
	color:				#D0021B;
}

.pspItemTable
{
	width: 			100%;
	margin-top: 		10px;
	margin-bottom: 	10px;
	border-bottom: 	1px solid #cccccc;
}

.pspItemTable table
{
	border-collapse: collapse;
	width: 100%;
}


.pspItemTypeHeader th
{
	padding: 		5px;
	text-align: 	left;
	font-size: 	13px;
}

.pspItemTypeContents td,
.pspItemTypeContentsNew td
{
	border-top:	1px solid #eeeeee;
	padding: 		5px;
	text-align:	left;
	font-size:		12px;
}

.pspItemTypeContentsUsed td
{
	padding: 		5px;
	text-align:	left;
	font-size:		12px;
}

.pspItemClick
{
	cursor:		pointer;
}

.pspItemHover .pspItemNameLink,
.pspItemHover .pspCustomItemNameLink
{
	color:			#D0021B!important;
}

TD.pspItemHover2
{
	color:			#D0021B;
}

.pspItemNewClick
{
	cursor:		pointer;
	font-weight:	bold;
	color:			#00389a;
}

.pspItemUsedClick
{
	cursor:		pointer;
	color:			#00389a;
}

.pspItemTable .pspItemTypeHeader
{
	background: 		#eff9fe;
	border-top: 		10px;
	border-bottom: 	5px;
}

A.pspAddWantedList
{
	color:			black;
	font-size:		15px;
}

A.pspAddWantedList:hover
{
	color:			red;
}


.pspItemRowEven
{
	background-color:		white;
}

.pspItemRowOdd
{
	background-color:		#fafafa;
}

.pspItemNameLink
{
	font-weight:		bold;
	color: 			#000000;
	text-decoration: 	none;
}

.pspItemCateAndNo
{
	font-size:			11px;
}

.pspCursorZoomIn
{
	cursor: 			url(//static.bricklink.com/clone/img/magnify.cur), zoom-in;
}

.pspPCC
{
	font-size:			11px;
}

.pspCustomItemFilter
{
	cursor:		pointer;
}

.pspCustomFilterSelected
{
	font-weight:		bold;
}

.pspStoreName
{
	display:			inline-block;
	width:				90px;
	overflow:			hidden;
	white-space: 		nowrap;
	text-overflow:	ellipsis;
	-o-text-overflow:	ellipsis;
	vertical-align:	top;
}

.pgnTable
{
	margin-top:				10px;
	margin-bottom:		10px;
	border:						1px solid #cccccc;
	border-radius:		3px;
}

.pgnTable td
{
	font-size:			11px;
	text-align:		center;
	cursor:			pointer;
	min-width:			26px;
	color: #0788ca;
}

.pgnTable td:hover
{
	background-color:	#0788ca;
	color:				white;
}

.pgnTable .pgnBefore,
.pgnTable .pgnPage,
.pgnTable .pgnEllipsis
{
	border-right:		1px solid #cccccc;
}

.pgnTable .pgnCurrent,
.pgnTable .pgnCurrent:hover,
.pgnTable .pgnEllipsis,
.pgnTable .pgnEllipsis:hover
{
	background-color:	#eeeeee;
	cursor:			default;
	color: #0788ca;
}

.links, .color-info a {
	color: #0788ca !important;
}

.links:hover, .color-info a:hover {
	color: #056899 !important;
}

.hidden {
	display: none;
}

.form-control {
	padding: 5px 7px;
	border: solid #cccccc 1px;
	box-shadow: none;
	border-radius: 4px;
	height: 28px;
	width: 100%;
}

.pspThumbWithBigImg
{
	display: inline-block;
}

.pspImageOverlay 
{
	position: 		absolute;
	background:	transparent;
	filter:		progid:DXImageTransform.Microsoft.gradient(startColorstr=#35000000,endColorstr=#35000000);
	zoom: 			1;
	background: 	rgba(0, 0, 0, 0.20);
	width:			100%;
	height:		100%;
	left: 			0px;
}

.pspImageOverlay .eye-glass
{
	height: 		22px;
	width: 		22px;
	background: 	url(//static.bricklink.com/clone/img/icon_zoomin.png);
	background-size: cover;
	position: 		absolute;
	right: 		5px;
	bottom: 		5px;
}
